* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #f1f5f9;
}

/* reset */
input,
button {
  all: unset;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}
